<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <div th:if="${age} &gt; 17">
      <h1
        th:text="'Welcome, ' + ${age} + '-year-old ' + ${firstname} + ' ' + ${lastname} + '!'"
      ></h1>
    </div>
    <div th:if="${age} &lt; 18">
      <h1
        th:text="'You are too young, ' + ${firstname} + ' ' + ${lastname} + '. ' + 'You are only ' + ${age} + ' years old!'"
      ></h1>
    </div>
  </body>
</html>
