<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Server Programming</title>
    <meta
      http-equiv="Content-Type"
      content="text/html;
charset=UTF-8"
    />
  </head>

  <body>
    <div>
      <h1 th:text="${friendsMessage}"></h1>
      <ul>
        <li
          th:each="friend : ${friends}"
          th:text="|${friend.firstName} ${friend.lastName}|"
        ></li>
      </ul>
      <h3><a th:href="@{/add}">Add Friend</a></h3>
    </div>
  </body>
</html>
